{:mvn/repos
 {"my.datomic.com" {:url "https://my.datomic.com/repo"}}
 :deps {datascript {:mvn/version "1.0.1"}
        juxt/crux-core {:mvn/version "RELEASE"}

        com.datomic/dev-local {:mvn/version "0.9.195"}

        ;; Datomic Pro
        com.datomic/client-pro {:mvn/version "0.9.63"}
        com.datomic/datomic-pro {:mvn/version "0.9.6045"}}}
